:root{
    --header-height: 60px;
    --max-content-width: 1600px;
    --main-transition-duration: 70ms; 
}

body{
    min-height: 100vh;
    margin: 0px; 
    color: var(--text-color);
    background-color: var(--background-color-2);
    font-family: Inter, sans-serif;
}

*{
    transition-property: box-shadow, background-color;
    transition-duration: var(--main-transition-duration);
}

#header{
    width: 100%; 
    max-width: var(--max-content-width);
    height: var(--header-height);
    margin: auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: var(--background-color-1);
    display: flex;
    flex-direction: row-reverse;
}

#dark-mode-wrapper{
    width: 120px; 
    height: 100%;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dark-mode-icon{
    color: var(--accent-color-4);
    font-size: 2em;
}

#dark-mode-switch-label{
    width: 80px;
    height: 40px;
    border-radius: 100px;
    position: relative;
    background-color: var(--accent-color-1);
    cursor: pointer;
}

#dark-mode-switch{
    width: 0px;
    height: 0px;
    opacity: 0;
}

#dark-mode-switch-head{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    position: absolute; 
    top: 5px;
    left: 5px;
    background-color: var(--main-color-1); 
    transition: left 200ms;
}

main{
    width: 100%;
    max-width: var(--max-content-width);
    height: calc(100vh - var(--header-height));
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: grid;
    align-items: center;
    background-color: var(--background-color-1);
}

#calculator-wrapper{
    width: 400px; 
    height: 620px; 
    margin: auto; 
    border: 3px solid var(--main-color-2);
    border-radius: 15px;
    position: relative;
    bottom: calc(var(--header-height) * 0.5);
    display: flex;
    flex-direction: column;
    transition: border-color 100ms;
    overflow: hidden;
}

#calculator-secondary-display{
    flex-basis: 30px;
    border-bottom: 2px solid var(--main-color-2);
    background-color: var(--main-color-1);
    display: grid;
    align-items: center;
}

#calculator-secondary-display-text{
    margin: 0px 10px;
    text-align: right;
    font-size: 16px;
}

#calculator-display{
    flex-basis: 120px;
    border-bottom: 2px solid var(--main-color-2);
    background-color: var(--main-color-1);
    display: grid;
    align-items: center;
}

#calculator-display-text{
    margin: 0px 10px;
    text-align: right;
    font-size: 48px;
}

#calculator-buttons{
    flex-grow: 1;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

button{
    border: none;
    border-radius: 12px;
    background-color: var(--main-color-3);
    color: var(--text-color);
    font-family: Inter, sans-serif;
    font-size: 28px;
    transition-property: box-shadow, background-color;
    transition-duration: var(--main-transition-duration);
    cursor: pointer;
    box-shadow: inset 0px -4px var(--accent-shadow-1);
}

button:active{
    box-shadow: inset 0px 4px var(--accent-shadow-1);
}

button i, button span{
    position: relative;
    top: 0px;
    transition-property: top;
    transition-duration: var(--main-transition-duration);
}

.button-pressed{
    top: 5px;
}

#button-equals{
    grid-column: 3 / 5;
    background-color: var(--accent-color-3);
}

.button-operation{
    background-color: var(--accent-color-2);
}

.button-operation-selected{
    background-color: var(--active-color-1);
}

.button-operation-has-hover:hover{
    background-color: var(--accent-color-1);
}

#button-equals:hover{
    background-color: var(--accent-color-1);
}

#button-equals:active, .button-operation:active{
    background-color: var(--active-color-1);
}

.button-number:hover, #button-clear:hover, #button-backspace:hover, #button-sign:hover, #button-dot:hover{
background-color: var(--main-color-4);
}

.button-number:active, #button-clear:active, #button-backspace:active, #button-sign:active, #button-dot:active{
    background-color: var(--main-color-5);
}

@media screen and (max-width: 400px) {
    #calculator-wrapper{
        width: 95%;
        height: 95%;
        margin: 10px auto;
        bottom: 0px;
        box-sizing: border-box;
    }
}

@media screen and (orientation: landscape) and (max-height: 400px){
    #calculator-wrapper{
        width: 95%;
        height: 98%;
        bottom: 0px;
        box-sizing: border-box;
    }

    #calculator-display{
        flex-basis: 70px;
    }

    #calculator-secondary-display{
        flex-basis: 20px;
    }
}



