:root{
    --header-height: 60px;
    --max-content-width: 1600px;
}

body{
    margin: 0px; 
    min-height: 100vh;
    background-color: var(--background-color-2);
    font-family: Inter, sans-serif;
}

#header{
    width: 100%; 
    max-width: var(--max-content-width);
    height: var(--header-height);
    margin: auto;
    background-color: var(--background-color-1);
    display: flex;
    flex-direction: row-reverse;
}

#dark-mode-wrapper{
    width: 120px; 
    height: 100%;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: brown; */
}

#dark-mode-icon{
    font-size: 2em;
    color: var(--accent-color-4);
}

#dark-mode-switch-label{
    width: 80px;
    height: 40px;
    border-radius: 100px;
    position: relative;
    background-color: var(--accent-color-1);
    cursor: pointer;
}

#dark-mode-switch{
    width: 0px;
    height: 0px;
    opacity: 0;
}

#dark-mode-switch-head{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-color: var(--main-color-1); 
    position: absolute; 
    top: 5px;
    left: 5px;
    transition: left 200ms;
}

main{
    width: 100%;
    max-width: var(--max-content-width);
    margin: auto;
    height: calc(100vh - var(--header-height));
    display: grid;
    align-items: center;
    background-color: var(--background-color-1);
}

#calculator-wrapper{
    width: 400px; 
    height: 620px; 
    margin: auto; 
    border: 3px solid var(--main-color-2);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    bottom: calc(var(--header-height) * 0.5);
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
}

#calculator-secondary-display{
    flex-basis: 30px;
    background-color: var(--main-color-1);
    border-bottom: 2px solid var(--main-color-2);
    display: grid;
    align-items: center;
}

#calculator-secondary-display-text{
    text-align: right;
    font-size: 16px;
    margin: 0px 10px;
}

#calculator-display{
    flex-basis: 120px;
    border-bottom: 2px solid var(--main-color-2);
    background-color: var(--main-color-1);
    display: grid;
    align-items: center;
}

#calculator-display-text{
    text-align: right;
    font-size: 48px;
    margin: 0px 10px;
}

#calculator-buttons{
    flex-grow: 1;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

button{
    border: none;
    border-radius: 12px;
    background-color: var(--main-color-3);
    font-size: 28px;
    cursor: pointer;
}

#button-equals{
    grid-column: 3 / 5;
}



@media screen and (max-width: 400px) {
    #calculator-wrapper{
        width: 95%;
        height: 95%;
        margin: 10px auto;
        bottom: 0px;
        box-sizing: border-box;
    }
}

@media screen and (orientation: landscape) and (max-height: 400px){
    #calculator-wrapper{
        width: 95%;
        height: 98%;
        bottom: 0px;
        box-sizing: border-box;
    }

    #calculator-display{
        flex-basis: 70px;
    }

    #calculator-secondary-display{
        flex-basis: 20px;
    }
}



